html {
  height: 100%;
}

body {
  font-family: 'Old Standard TT', serif;
  position: relative;
  padding-top: 50px;
  min-height: 100%;
  background-color: #282828;
  color: rgba(255,255,255,0.9);
}

.card {
  background-color: rgba(255,255,255,0.15);
}

a, .text-muted {
  filter: invert(100%);
}

main {
  padding-bottom: 250px;
}
